# Series Messaging API
API_KEY=your_api_key_here
SENDER_NUMBER=+16463029478

# Kafka Configuration
BOOTSTRAP_SERVERS=your_bootstrap_servers_here
TOPIC_NAME=your_topic_here
CONSUMER_GROUP=your_consumer_group_here
SASL_USERNAME=your_kafka_username
SASL_PASSWORD=your_kafka_password

# LLM API Key
GOOGLE_API_KEY=your_google_api_key_here